# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\正在准备的课程\CurrentWorking\Java SE 2020_working\第5部分 桌面应用开发\14 Java FX数据绑定\ViewBindToController\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
